<template>
    <div class="container">Kan deze pagina niet vinden</div>
</template>

<script>
export default {
    name: 'NotFoundPage',
}
</script>

<style scoped>
.container {
    padding: 14px 32px;
}
</style>
